<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />

    <application
        android:name="com.tinyDeveloper.yavaran.App"
        android:allowBackup="true"
        android:icon="@drawable/yavaran_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/yavaran_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.TinyDeveloperHelp">
        <activity
            android:name="com.tinyDeveloper.yavaran.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA0vmfJzSo1n_IJxezIZyOuULW1QOEJIsA"
            />
    </application>

</manifest>